.App {
  text-align: center;
}
.back{
background-color: #191d4b;
}
.back ul li :link{
  color:white;
}
.button-background{
  background-color: #ec6e00;
  color:white;
  padding:0.3rem 1.5rem; 
  border:none;
}
.button-background:hover{
  background-color: #f74a00;
}