.App {
  text-align: center;
}
.back{
background-color: #191d4b;
}
.back ul li :link{
  color:white;
}
.button-background{
  background-color: #ec6e00;
  color:white;
  padding:0.3rem 1.5rem; 
  border:none;
}
.button-background:hover{
  background-color: #f74a00;
}

.edit-button{
    background-color: #ec6e00;
    color:white;
    border:none;
}


td select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 18px;
}
.table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.AV{
  background-color: wheat;
}
.JO{
background-color:  orange;
}
.P50{
  background-color: lightblue;

}
.P75{
  background-color:lightseagreen;
}

.P90{
  background-color:blue;
}
.color{
  background-color: beige;
}

.QT{
  background-color:lightpink;
}
.LT{
  background-color:lightgreen;
}
.SE{
  background-color:yellow;
}
.BD{
  background-color:red;
}